:root {
	--orange: #e6a65d;
	--redorange: #fe5000;
	--pink: #e782a9;
	--yellow: #e1cd00;
	--blue: #69b3e7;
	--red: #ee2737;
}

* {
	margin: 0;
	padding: 0;
}

main {
	max-width: 90%;
	margin: 0 auto;
	padding: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main section {
	margin-top: 30px;
	margin-bottom: 30px;
}

main > h1 {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
	color: var(--orange);
}

main p {
	line-height: 150%;
	margin-bottom: 10px;
}

#overview .callout {
	width: 100%;
	background-color: #eee;
	display: flex;
	align-items: flex-start;
	padding: 15px;
}

.callout-avatar {
	width: 20%;
	margin-right: 20px;
}

.callout-avatar img {
	width: 100%;
	border-radius: 50%;
}

.author-name,
.author-title {
	display: block;
}

.author-name {
	font-weight: bold;
}

.author-title {
	font-style: italic;
}

#recipes-selection label {
	display: inline-block;
	margin: 15px 0;
}

#recipes-selection select {
	padding: 8px 5px;
	font-size: 1rem;
	border-radius: 3px;
}

.tip {
	color: #888;
	text-align: center;
}

#results div {
	display: flex;
}

#pet-food-results,
#nomnom-results {
	width: 50%;
	padding: 0 20px;
}

#nomnom-results .nomnom-logo {
	height: 20px;
	width: auto;
}

#pet-food-results {
	text-align: right;
	padding-top: 62px;
}

#pet-food-results img,
#nomnom-results img {
	height: 250px;
}

#pet-food-results h4,
#nomnom-results h4 {
	font-weight: normal;
	margin: 10px 0;
}

#pet-food-results span,
#nomnom-results span {
	font-size: 2rem;
	font-weight: bold;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#pet-food-results span {
	color: #999;
}

#nomnom-results span:nth-of-type(1) {
	color: var(--redorange);
}

#nomnom-results span:nth-of-type(2) {
	color: var(--pink);
}

#nomnom-results span:nth-of-type(3) {
	color: var(--yellow);
}

#nomnom-results h3 {
	font-size: 2rem;
	font-weight: bold;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	text-transform: uppercase;
	color: var(--orange);
}

#details {
	color: #888;
}

#details h3 {
	font-size: 1.5rem;
}

#details div {
	margin-bottom: 20px;
}

.small {
	font-size: 0.85rem;
}

#cta h2 {
	color: var(--blue);
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	text-transform: uppercase;
	font-size: 2rem;
	margin: 20px 0;
}

#cta a {
	padding: 10px 12px;
	background-color: var(--red);
	color: white;
	text-decoration: none;
	border-radius: 3px;
}

#cta a:hover {
	background-color: var(--orange);
}

.hidden {
	display: none;
}
